{% extends 'base.html.twig' %}

{% block title %}Hello UserPaymentController!{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_payment_user_checkout') }}" id="payment-form">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="username">nom</label>
        <input type="text" name="fullName" id="username" class="form-control" autocomplete="email" required autofocus>

        <label for="username">address</label>
        <input type="text" name="address" id="username" class="form-control" autocomplete="email" required autofocus>

        <label for="username">code postal</label>
        <input type="text" name="zipCode" id="username" class="form-control" autocomplete="email" required autofocus>

        <label for="username">ville</label>
        <input type="text" name="city" id="username" class="form-control" autocomplete="email" required autofocus>

        <label for="username">telephone</label>
        <input type="text" name="phone" id="username" class="form-control" autocomplete="email" required autofocus>

        <button class="btn btn-lg btn-primary" type="submit">
            payer
        </button>
    </form>
{% endblock %}